<footer class="w-100 d-flex bg-dark align-items-center pt-5 pb-5">
    <div class="container h-75 w-75 d-flex text-light">
        <div class="w-100 h-100">
            <p>Gestion locative</p>
            <p>Contact téléphone : 06 06 06 06 06</p>
            <p>Contact email : contact@gestionlocative.fr</p>
        </div>
        <div class="w-100 h-100">
            <p>Version 1.0</p>
        </div>
    </div>
</footer>