{% extends "base.html.twig" %}

{% block default_var %}{% endblock %}


{% set navbar_active = "locataires" %}


{# head #}
{% block title %}
	titre de la page
{% endblock %}

{% block meta %}{% endblock %}

{% block stylesheets %}
	<link href="/global/style/style.css" rel="stylesheet" type="text/css">
	<link href="/global/style/loadAnimation.css" rel="stylesheet" type="text/css">
	<link href="/global/style/navbar.css" rel="stylesheet" type="text/css">
	<link href="/property/index.style.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block preload_js %}{% endblock %}
{# end head #}


{# body #}
{% block body %}
	{% include "global/navbar.html.twig" %}
	<div class="container d-flex" style="    justify-content: center;margin-top: 100px;">
		<form style="width: 40%; gap: 10px;">
			<div class="d-flex flex-column">
				<h3>Name</h3>
				<div style="width: 90%;">
					<span>Prenom <span style="color: red;">*</span></span>
					<div class="input-group mb-1">
						<input type="text" class="form-control" placeholder="prenom" aria-label="first_name" name="first_name">
					</div>
				</div>
				<div style="width: 90%;">
					<span>Nom <span style="color: red;">*</span></span>
					<div class="input-group mb-1">
						<input type="text" class="form-control" placeholder="nom" aria-label="last_name" name="last_name">
					</div>
				</div>
				<div style="width: 90%;">
					<span>Email <span style="color: red;">*</span></span>
					<div class="input-group mb-1">
						<input type="text" class="form-control" placeholder="email" aria-label="Email" name="email">
					</div>
				</div>
				<div style="width: 90%;">
					<span>address <span style="color: red;">*</span></span>
					<div class="input-group mb-1">
						<input type="text" class="form-control" placeholder="address" aria-label="address" name="address">
					</div>
				</div>
				<div style="width: 90%;">
					<span>complement d'address</span>
					<div class="input-group mb-1">
						<input type="text" class="form-control" placeholder="suplement d'address" aria-label="addressSupplement" name="addressSupplement">
					</div>
				</div>
				<div style="width: 90%;">
					<span>code postal <span style="color: red;">*</span></span>
					<div class="input-group mb-1">
						<input type="text" class="form-control" placeholder="code postal" aria-label="zipCode" name="zipCode">
					</div>
				</div>
				<div style="width: 90%;">
					<span>numero de telephone<span style="color: red;">*</span></span>
					<div class="input-group mb-1">
						<input type="text" class="form-control" placeholder="numero de telephone" aria-label="phone" name="phone" maxlength="10" minlength="10">
					</div>
				</div>
			</div>
			<button class="btn btn-success">Mettre a jour les données</button>
		</form>	
	</div>
	{% include "global/footer.html.twig" %}
{% endblock %}
{# end body #}


{# js #}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="module" src="/tenant/add.js"></script>

{% endblock %}
{# end js #}

