{% extends "base.html.twig" %}

{% block default_var %}{% endblock %}


{% set navbar = "login" %}

{# head #}
{% block title %}
	titre de la page
{% endblock %}

{% block meta %}{% endblock %}

{% block stylesheets %}
	<link href="/global/style/style.css" rel="stylesheet" type="text/css">
	<link href="/global/style/navbar.css" rel="stylesheet" type="text/css">
	<link href="/login/style.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block preload_js %}{% endblock %}
{# end head #}


{# body #}
{% block body %}
	{% include "global/navbar.html.twig" %}
	<div class="container">
		<div class="d-flex w-100 h-100 justify-content-center align-items-center flex-column">
            <h3 class="text-danger" id="error-text"></h3>
            <h1>voulez-vous vraiment supprimer votre compte</h1>
            <div class="d-flex" style="gap: 50px;">
                <button class="btn btn-danger" id="delete-button">supprimer</button>
                <a class="btn btn-success" href="/">retour</a>
            </div>
        </div>
	</div>
	{% include "global/footer.html.twig" %}
{% endblock %}
{# end body #}


{# js #}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script type="module" src="delete/index.js"></script>
{% endblock %}
{# end js #}

